################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/src/.vs
/src/BCM.Common/bin/Debug
/src/BCM.Common/obj
/src/BCM.DAL/bin/Debug
/src/BCM.DAL/obj/Debug
/src/BCM.DAL/obj/Release
/src/BCM.Diagnostics/bin/Debug
/src/BCM.Diagnostics/obj/Debug
/src/BCM.Model/bin/Debug
/src/BCM.Model/obj/Debug
/src/BCM.Model/obj/Release
/src/BCM.Diagnostics/obj/Release
/src/BCM.Resources/bin/Debug
/src/BCM.Resources/obj/Debug
/src/BCM.Resources/obj/Release
/src/BCM.WebFormsApplication/bin
/src/BCM.WebFormsApplication/obj
/src/BCM.WebFormsApplication/BCM.WebFormsApplication.csproj.user
/src/BCM.WindowsFormsApplication/obj/Debug
/src/BCM.WindowsFormsApplication/obj/Release/BCM.WindowsFormsApplication.csproj.CoreCompileInputs.cache
/src/packages/Antlr.3.4.1.9004
/src/packages/AspNet.ScriptManager.bootstrap.3.0.0
/src/packages/AspNet.ScriptManager.jQuery.1.10.2
/src/packages/bootstrap.3.0.0
/src/packages/DynamicDataTemplatesCS.1.0.1
/src/packages/EntityFramework.6.1.1
/src/packages/EntityFramework.de.6.1.1
/src/packages/jQuery.1.10.2
/src/packages/Microsoft.AspNet.FriendlyUrls.1.0.2
/src/packages/Microsoft.AspNet.FriendlyUrls.Core.1.0.2
/src/packages/Microsoft.AspNet.FriendlyUrls.Core.de.1.0.2
/src/Windows.Forms.Extensions/obj/Debug
